<<<<<<< HEAD
html * {
    font-family: Arial, Helvetica, sans-serif;
}   

li {
    max-width:50%;
    clear: both;
    float: left;
}

#list #tasks > li{
    background-color: red; 
}

#list #tasks > li.completed{
    background-color: lightgreen;
=======
li {
    list-style: none;
}

.checkit{
    font-size: 20px;
    padding: 10px;
>>>>>>> e1e26b0a5c79674d11e58167001dd0732fe71a76
}

.container{
    margin-top: 20px;
}
body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

