li {
    list-style: none;
}

.checkit{
    font-size: 20px;
    padding: 10px;
}

.container{
    margin-top: 20px;
}
body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

