html * {
    font-family: Arial, Helvetica, sans-serif;
}   

.tasks ul > li{
    width: 100%;
}
.checkit{
    font-size: 20px;
    padding: 10px;
}

.container{
    margin-top: 20px;
}
body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.marginTop20 {
    margin-top: 20px;
}

#tasks > li:hover{
    cursor: pointer;
}

